

.container, .footer{
    font-family: 'Raleway', sans-serif;
  }
.container{
    margin: 0 auto;
    width: 95%;
  }
.menu{
    display: flex;
    justify-content: space-between;
    
}
.link{
    display: flex;
    list-style: none;
    flex-basis: 400px;
  
    justify-content: space-evenly;
    
}
.search{
 display: none;
}
.filtres{
    display: flex;
}
.title_filtre{
    margin: 38px 21px 0px 15px;
    font-weight: bold;
}

.hb .nav_link:after {
    content: '';
    display: block;
    margin-top: -36px;
    height: 3px;

    
  }
  .nav-bar .nav span{
    margin: 3px;
  }
.hb .nav_link:hover:after {
    width: 100%;
    background-color:#0065FC;
    
  }
  .hb .nav_link{
    text-decoration: none;
    color: gray;
} 
.hb .nav_link:hover{
   color: #0065FC;
}
.informations .info{
    color: gray;
}
.logo img{
    width: 100px;
}
.informations{
    display: flex;
    align-items: baseline;
    margin-top: 30px;
    margin-bottom: 20px;
}
.hebergement{
    margin-bottom: 20px;
    margin-top: 23px;
}
.hebergement .info-h{
    margin-bottom: 12px;
}
.informations .info{
    margin: 10px;
}
.emplacement{
    color: gray;
}
.recherche{
    
    display: flex;
}
p.marker{
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    width: 41px;
    height: 39px;
    text-align: center;
    margin-top: -2px ;

}
i.fas.fa-map-marker-alt{
    padding-top: 10px;
}
.champ{
    height: 33px;
    outline: 2px solid #f2f2f2;
    border: none;
}
.bouton{
    height: 35px;
    background-color: #0065FC;
    color: white;
    border-radius: 0 5px 5px 0;
    border: none;
    margin-left: -4px;
}
i.fas.fa-money-bill-alt{
background-color: #DEEBFF;
  
    border-radius: 30%;
}

.nav-bar{
    display: flex;
        list-style: none;
        margin-top: 20px;
}
.nav a{
    text-decoration: none;
    padding: 10px;
    border-radius: 32px;

    background-color: #DEEBFF;
    color: #0065FC;

}
.nav:hover{
    background-color: #0065FC;
    color: white;
    cursor: pointer;
}
.nav{
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    padding: 9px 19px 8px 0;
    margin: 11px 6px 7px 11px;

}

.title_filtre{
    margin: 38px 0px 0px 15px;
    font-weight: bold;
}

.hebergements{
    display: flex;
   

}
.marseille{
    background-color: #F2F2F2;
 
    border-radius: 12px;
    flex: 4;

}
.marseille h3{
    padding-left: 26px;
    padding-top: 16px;

}
.hebergements-marseille{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  
}
.appartement{
    width: 29%;
    border-radius: 10px;
    margin: 16px 3px 2px 10px;
    background-color: white;
    border: none;
   
  
}
.appartement img{
    width: 97%;
    margin: 4px;
    border-radius: 10px 10px 0 0;
    height: 132px;
}
   

.hebergements-title{
    padding: 5px 0 0 15px;
    font-weight: bold;
}
.prix-nuit{
    padding: 5px 0 0 15px;
    color: gray;
}
.icon-etoile{
    padding: 5px 0 8px 15px;
    color: #0065FC;
}

.gray.fas.fa-star{
    color: grey;
}

.les-plus-populaires{
    flex: 2;
    background: #F2F2F2;
    margin: 0 0 0 15px;
    border-radius: 10px;
    padding: 20px;
}

.les-plus-populaires .image-p{
    width: 150px;
    height: 127px;
    border-radius: 10px 0 0 10px;
    margin: 3px;
}
.populaires{
    display: flex;
  
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
}
.titre-pop{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.texte-populaires {
    margin: 10px;
    position: relative;
}
.prix-nuit-p{
    color: gray;
    padding-top: 10px;
}
.icon-etoile-p{
    color: #0065FC;
    position: absolute;
    top: 101px;
}
.title-p{
    font-weight: bold;
}

.activites_a_marseille{
    margin-top: 50px;
}
.titre_activites{
    font-size: 20px;
    margin-left: 23px;
}
.activite{
    display: flex;
    justify-content: space-around;
}
.vieux_port{
    margin: 38px 10px 38px 10px;
    position: relative;
}

.vieux_port img{
    width: 240px;
    height: 350px;
    
    border-radius: 10px;
    box-shadow: 2px 0 19px 2px rgb(0 0 0 / 15%);

}
.text_activites{
    position: absolute;
    bottom: 4px;
    background-color: white;
    height: 31px;
    border-radius: 0 0 10px 10px;
    padding-left: 15px;
    padding-top: 15px;
    width: 94%;
}


.deux_images{
    display: flex;
    flex-direction: column;
}
.deux_images .medium{
    position: relative;
}
.deux_images .small{
    position: relative;
}
.deux_images .img_medium{
    width: 250px;
    height: 174px;
    border-radius: 10px;
    box-shadow: 0px 0 4px 0px rgb(0 0 0 / 33%);
    margin-top: 40px;
} 
.deux_images .img_small{
    width: 250px;
    height: 150px;
    border-radius: 10px;
    margin-top: 18px;
    box-shadow: 0px 0 4px 0px rgb(0 0 0 / 33%);
}
.deux_images .pay{
    position: relative;
}
.deux_images .pay-deux{
    position: relative;
}
.deux_images .paysages{
    width: 250px;
    height: 160px;
border-radius: 10px;
    box-shadow: 0px 0 4px 0px rgb(0 0 0 / 33%);
    margin-top: 37px;
}
.deux_images .paysages_deux{
    width: 250px;
    height: 160px;
    border-radius: 10px;
    box-shadow: 0px 0 4px 0px rgb(0 0 0 / 33%);
    margin-top: 26px;
}

.propos, .hebergements_aide, .Assistance {
    line-height: 25px;
}
.titre_aide{
    font-weight: bold;
}
p.aide a{
    color: gray;
    text-decoration: none;
    
}
footer.footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    padding: 24px 342px 0 65px 
}
@media screen and (max-width: 996px){
.hebergements{
    display: block;
}
.les-plus-populaires{
    margin: 50px 0px 0px 0px;
}

.activite{
    flex-wrap: wrap;
}
footer.footer{
    padding: 24px 80px 0 71px;
}
}


@media screen and (max-width: 768px){
    
.menu{
    display: block;
}
.logo img{
    margin-left: 37%;
}

.bouton{
   display: none;
}
.search{
    display: inline;
    background: #0065FC;
    color: white;
    padding: 9px;
    border-radius: 12px;
    position: relative;
    right: 17px;
}

 .filtres{
    display: block;
 }  
.nav-bar{
        display: flex;
        flex-wrap: wrap;
        max-width: 84%;
}
.section_un .hebergement{
    margin-top: 0px;
}
.section_un .hebergement .info-h{
        margin-top: 20px;
        font-size: 23px;
        margin-left: 15px;
}
.section_un .hebergement .emplacement{
        margin-left: 15px;
        color: black;
        margin-top: 15px;
    }
    .link{
        margin-top: 15px;
        justify-content: space-around;
    }
    
    .hebergements{
      display: flex;
      flex-direction: column-reverse;
    
    }
    .hb .nav_link:after{
        margin-top: 15px;
    }
    .hebergements .marseille{
        background-color: #fff;
    }
    .appartement{
        width: 86%;
        box-shadow: 2px 0 19px 2px rgb(0 0 0 / 15%);
    }
    /*.appartement img 
        height: 220px;
    }*/
    .appartement img {
        width: 97%;
        margin: 7px;
     
        height: 200px;

    }
    .les-plus-populaires {
        padding: 11px;
        margin: 0;
    }
    .les-plus-populaires .fas.fa-star.e{
        padding-left: 100px;
    }
    .populaires{
        margin: 0;
        margin-top: 30px;
    }
    .les-plus-populaires h4{
        font-size: 15px;
    }
    .texte-populaires {
        margin: 0;
    }
    .activites_a_marseille{
        margin-bottom: 50px;
    }
    .activite{
        flex-direction: column;
        align-items: center;
    }
    .vieux_port {
        margin: 0;
    }
    .vieux_port img{
        width: 330px;
        height: 200px;
        margin-top: 16px;
    }

    .deux_images .img_medium{
        width: 330px;
        height: 200px;
        margin-top: 16px;
    }
    
    .deux_images .img_small{
        width: 330px;
        height: 200px;
        margin-top: 16px;
    }
    .deux_images .paysages {
        width: 330px;
        height: 200px;
        margin-top: 16px;
    }
    .deux_images .paysages_deux{
        width: 330px;
        height: 200px;
        margin-top: 16px;
    }
    .text_activites{
        width: 315px;
    }
    footer{
        display: flex;
        flex-direction: column;
        padding-left: 56px;
    }
    footer.footer{
    padding: 17px 0px 0px 10px;
    margin-top: 40px;
}
    .propos, .hebergements_aide, .Assistance {
        line-height: 32px;
        margin: 15px;
    }
}
